

body{
    margin: 0px;
    padding: 30px;
    background-image: url(background.jpg);
}

canvas{
    margin: 30px;
    box-shadow: 5px 5px 5px 5px rgb(112, 54, 20);
}

.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.tools .color-field{
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 5px 10px;
}

.tools .text{
    height: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.tools .font{
    height: 26px;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 10px;
}

.tools .size{
    height: 20px;
    width: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.tools .icon{
    width: 56px;
    height: 52px;
    border : none;
    cursor: pointer;
    margin: 0px 10px;
}

.range_picker{
    align-self: center;
    margin: 0px 10px;
    height: 50px;
    width: 80px;
    cursor: pointer;
}

.color_picker{
    align-self: center;
    margin: 0px 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.tools .load{
    display: none;
}